header {
  display: flex;
  width: 100%;
  background: #1a3c40;
  justify-content: space-around;

  h1 {
    color: #e4eddb;
    margin-top: 20px;
  }

  nav {
    color: white;
    display: flex;

    .link {
      color: #e4eddb;
      margin: 40px;
    }
  }
}
