@import './reset.scss';
@import './variables.scss';
@import './mixins.scss';
@import './general.scss';
@import './main.scss';

body{
    background-image: url('https://images.unsplash.com/photo-1462530348824-65844534c0ed?ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}
