.signUpForm {
  // background: rgba(67, 153, 153, 0.966);
  background-image: url("https://images.unsplash.com/photo-1579546928937-641f7ac9bced?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=584&q=80");
  padding: 40px;
  width: 470px;
  height: 590px;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  align-items: center;
  margin: 100px auto;

  border-radius: 30px;
  color: black;
  opacity: 0.94;

  .formPicIcon {
    width: 100px;
    margin: 10px auto;
  }

  input {
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    border-bottom: 1px solid black;
    width: 300px;
    font-family: "Kalam", cursive;
  }
  button {
    padding: 20px;
    width: 300px;
    align-self: center;
    background: rgba(74, 145, 145, 0.829);
    color: black;
    margin-top: 25px;
    font-family: "Kalam", cursive;
  }
  h1 {
    padding: 10px;
  }
}

.loginForm {
  background-image: url("https://images.unsplash.com/photo-1579546928937-641f7ac9bced?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=584&q=80");
  padding: 40px;
  width: 470px;
  height: 540px;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  align-items: center;
  margin: 100px auto;
  border-radius: 30px;
  color: black;
  opacity: 0.94;

  .formPicIcon {
    width: 100px;
    margin: 10px auto;
  }
  .formLink {
    text-decoration: none;
    margin: 30px;
    color: rgb(27, 33, 39);
  }

  input {
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    border-bottom: 1px solid black;
    width: 300px;
    font-family: "Kalam", cursive;
  }
  button {
    padding: 20px;
    width: 300px;
    align-self: center;
    background: rgba(74, 145, 145, 0.829);
    color: black;
    margin-top: 25px;
    font-family: "Kalam", cursive;
  }
  h1 {
    padding: 10px;
  }
}
.account-form-container {
  border: 2px solid black;
  width: 300px;
  margin: 10rem auto;

  form {
    @include flex(column, center, center, no-wrap);
    line-height: 3rem;
  }

  .error {
    div {
      color: red;
    }
  }
}

.round-button {
  background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
  background-image: linear-gradient(top, #f4f1ee, #fff);
  border-radius: 50%;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3), inset 0px 4px 1px 1px white,
    inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
  float: left;
  height: 70px;
  margin: 0 30px 30px 0;
  position: relative;
  width: 70px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;

  &:after {
    color: #e9e6e4;
    display: block;
    font-size: 30px;
    height: 30px;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
    position: absolute;
    width: 30px;
    left: 23px;
    top: 14px;
  }

  &:active {
    background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4),
      inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
  }

  &:active:after {
    color: #dbd2d2;
    text-shadow: 0px -1px 1px lightblue, 0px 1px 1px white;
  }
}

.droplet {
  &:after {
    content: "🌢";
    left: 20px;
    top: 14px;

    &:hover:after {
      color: lightblue;
      text-shadow: 0px 0px 6px lightblue;
      top: 14px;
    }
  }
}

.add:after {
  content: "+";
  font-size: 2rem;
  left: 20px;
  top: 14px;
}

.add:hover:after {
  color: lightblue;
  text-shadow: 0px 0px 6px lightblue;
  top: 14px;
}
