.formContainer{
  background-image: url("https://images.unsplash.com/photo-1462530348824-65844534c0ed?ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-width: 100%;
  background-position: center;
  height: 85vh;
  padding-top: 15rem;

.signUpForm {
  background-image: url("https://images.unsplash.com/photo-1579546928937-641f7ac9bced?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=584&q=80");
  padding: 4rem;
  max-width: 45rem;
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  align-items: center;
  margin: 0 auto;


  border-radius: 3rem;
  color: black;
  opacity: 0.94;

  .formPicIcon {
    width: 10rem;
    margin: 1rem auto;
  }

  input {
    margin: 1rem;
    width: 30rem;
  }

  button {
    padding: 2rem;
    width: 30rem;
    align-self: center;
    background: rgba(74, 145, 145, 0.829);
    color: black;
    margin: 2.5rem;
    font-family: $font-1, cursive;
  }
  h1 {
    padding: 1rem;
  }
}
}


.plant-card-container {
  @include flex(row, center, center, wrap);
  width: 90%;
  margin: 0 auto;
}

.card{
  background-image: url("https://images.unsplash.com/photo-1579546928937-641f7ac9bced?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=584&q=80");
  width: 30rem;
  margin: 2rem;
  border-radius: 3rem;
  color: black;
  opacity: 0.94;
  @include flex(column, center, center, no-wrap);
  
  h2, h3{
    text-align:center;
    padding: 1.5rem;
  }

  p{
    padding-bottom: 1rem;
  }

  .plant-image{
    width: 25rem;
    height: 25rem;
    margin-top: 2.5rem;
    background-size: 25rem;
    background-position: center;
    border-radius: 2rem;
    
    .plant-title{
      background: rgba(26, 60, 64, 0.3);
      width: 80%;
      margin: 5rem auto 0;
      border-radius: 1rem;
      color: $tea-green;
      padding: 1rem;
    }

  }

  .card-buttons {
    @include flex(row, center, center, no-wrap);
    margin-bottom: 25px;
  }

  form {
    @include flex(column, center, center, no-wrap);
    
    label {
      padding:5px;
    }
    .number-input{
      font-weight: bold;
      width: 5rem;
      border-radius: 10px;
    }
  }

}

.account {

  margin: 5% auto;

}

.edit {

margin: 0;

}

.round-button{
    border:none;
    background-color: white;
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    float:left;
    height: 5rem;
    margin: 2rem 1rem;
    position: relative;
    width: 5rem;			
    -webkit-transition: all .1s linear;
    transition: all .1s linear;

    &:after{
        color:#e9e6e4;
        display: block;
        font-size: 30px;
        height: 30px;
        text-decoration: none;
        text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
        position: absolute;
        width: 30px;
        left: 23px;
        top: 14px;
    }

  &:after {
    color: #e9e6e4;
    display: block;
    font-size: 30px;
    height: 30px;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
    position: absolute;
    width: 30px;
    left: 23px;
    top: 14px;
  }

  &:active {
    background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4),
      inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
  }

  &:active:after {
    color: #dbd2d2;
    text-shadow: 0px -1px 1px lightblue, 0px 1px 1px white;
  }
}

.droplet {
  height: 70px;
  width: 70px;
  &:after {
    content: "🌢";
    left: 20px;
    top: 14px;
  }
  &:hover:after {
    color: lightblue;
    text-shadow: 0px 0px 6px lightblue;
    top: 14px;
  }
}

.add {
  height: 7rem;
  width: 7rem;
  margin: 5rem 17rem 5rem 10rem;
  &:after {
    content: "+";
    font-family: $font-2;
    font-size: 4rem;
    left: 19px;
    top: 12px;
  }
  &:hover:after {
    color: lightgray;
    text-shadow: 0px 0px 6px gray;
  }
}

.delete {
  &:after {
    content: "✖";
    left: 10px;
    top: 4px;
  }
  &:hover:after {
    color: #eb2f2f;
    text-shadow: 0px 0px 6px #eb2f2f;
  }
}

.edit {
  &:after {
    content: "✐";
    left: 10px;
    top: 3px;
  }
  &:hover:after {
    color: brown;
    text-shadow: 0px 0px 6px brown;
  }
}

.button {
  font-family: $font-2;
  border: none;
  background-color: white;
  background-image: linear-gradient(top, #f4f1ee, #fff);
  border-radius: 10px;
  width: 90px;
  padding: 1.5rem 0;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
  float:left;
  margin: 25px;	
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}
