@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap');

$header-font: "Kalam";
$primary-font: "Kalam";
$font-1: "Kalam";
$font-2: "Montserrat";


$tea-green: #e4eddb;
$ming: #307672;
$elephant: #144d53;
$dark-green: #1a3c40;